/** 
  Anticipated © Copyright 2021 Paul Juneau <pauljuneauengineer@gmail.com> code prepped for copyright application
**/
html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }