/** 
  Copyright © 2021 - 2022 Paul Juneau All Rights Reserved.
**/
html, body {
    height: 100%;
    margin: 0;
}

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

form.form-table-alignment {
  display: table;
}

div.form-input-row {
    display: table-row;
}

label, input, select {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

#welcomeScreen {
  background-color: lightblue; 
  width:100%;
}

#thanksAndLinksScreen {
  background-color: lightblue; 
  display:none;
}